In [1]:
import pandas as pd
df=pd.read_csv("/Users/mac/Downloads/African_crises_dataset.csv")
df

,country_number,country_code,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [2]:
colonnes_a_supprimer = ['country_code', 'country']
df.drop(colonnes_a_supprimer, axis=1, inplace=True)
df

,country_number,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [3]:
df["banking_crisis"]=df["banking_crisis"].map({"crisis": 1, "no_crisis": 0})

In [4]:
df

,country_number,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,1
1,1,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,0
2,1,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,0
3,1,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,0
4,1,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,1
1055,70,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,0
1056,70,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,0
1057,70,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,0
1058,70,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = df.drop('systemic_crisis', axis=1)
y = df['systemic_crisis']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9952830188679245